body {
    color: white;


}

.meimg {
    border: 3px solid white;
    height: 200px;
    width:: 200px;
    margin: 1em;
}

#home {
    background: linear-gradient(42deg, #1a7ab9, #7a7a7a, #1a7ab9);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 96% 0%
    }
    50% {
        background-position: 5% 100%
    }
    100% {
        background-position: 96% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 96% 0%
    }
    50% {
        background-position: 5% 100%
    }
    100% {
        background-position: 96% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 96% 0%
    }
    50% {
        background-position: 5% 100%
    }
    100% {
        background-position: 96% 0%
    }
}

.header {
    padding: 2em;
    position: relative;
}

.header-right {
    padding-left: 3em;
    width: 66.66666%;
}

#info {
    border-top-style: solid;
    border-top-color: white;
}

td {
    padding: 0 15ch 0 15ch;
}

td,
th {
    padding-top: 1ch;
    padding-bottom: 2ch;
}

th {
    text-transform: capitalize;
    font-weight: bold;
}

ul,
li {
    float: none;
}

.title {
    padding-top: 1.5em;
    color: #1a7ab9;
}

.titletwo {
    color: #1a7ab9;
}

.divider hr {
    color: #0C5258;
    border: 1.5px #1a7ab9 solid;
    margin-bottom: 2em;
}

.divider {
    width: inherit;
    text-align: center;
}

.divider hr {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.star-rob {
    padding-top: .5em;
    font-size: 150%;
    color: #1a7ab9;
}

.about {
    color: black;

    padding-bottom: 2em;
}

.info-text a {
    color: white;
    font-weight: 900;
    opacity: 1;

}



#portfolio {

    color: #003a5f;
}

#portfolio hr {
    border: 1.5px #003a5f solid;
}


.portfolio-item {
    padding: 2.35em;
}

.twoinfo {
    color: #003a5f;
}

.body-shoes {
    background-image: url(/img/portfolio/bluesshoesiconblack.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.body-brain {
    background-image: url(/img/portfolio/noname.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.body-tictactoe {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.ampedlogo{
    height:100px;
    padding-top: 15px;
    margin-top: 30px;
}
.ampedpad{
  text-align: center;
}

.body-basicphrases {
    background-image: url(/img/portfolio/translatorGlobal.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.card {
    margin: 1em;
    border: none !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-body {}

.bottomcardrow {
    padding-bottom: 2em;
}

.card-writing {
    color: white;
    margin-top: auto !important;
    padding: 5px;
    font-weight: bold;
    font-family: Courier;
    font-size: 18px;
}
.robmodal {
    color: black;
}

.modal-image {
    width: 100%;
    padding-bottom: 1em;
}

.modal-title {
    color: #1a7ab9;
    font-size: 120%
}

.modal-subhead {
    color: #1a7ab9;
    font-size: 105%;
}

.what {
    font-size: 75%;
}

.card-img-overlay {
    padding: 0 !important;
    background-size: cover;
}

a:hover {
    opacity: .5;
}
